#Education {
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#Education .education .header-column {
    margin-top: 16px;
}

#Education .education .header-column h2 {
    font-size: 1em;
    margin-top: 0;
}

#Education .education .header-column h2 span {
    border-bottom: 3px solid #11abb0;
    padding-bottom: 6px;
    text-transform: uppercase;
}

#Education .item {
    border-bottom: 1px dotted #ddd;
    padding: 25px 0;
}

#Education .item .school {
    margin: 0;
    margin-bottom: 10px;
}

#Education .item .school a {
    color: black;
}

#Education .item .summary {
    margin: 0;
    font-size: .9em;
}

#Education .item .location {
    padding-left: 15px;
}

#Education .item .date {
    padding-left: 15px;
}

#Education .item ul.studies {
    list-style-position: inside;
    margin-top: 5px;
    padding-left: 0;
}

#Education .item ul.studies li {
    color: #333;
    font-size: .85em;
}
