#About {
    background-color: #2b2b2b;
    margin-top: 70px;
    padding-top: 100px;
    padding-bottom: 75px;
}

#About H2 {
    color: white;
    margin-top: 0;
}

.Profile-pic {
    border: 2px solid #a4bbd7;
    height: 100px;
}
/*
.Header .Intro H1 {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 0.2em;
    margin: 0;
}

.Header .Intro H2 {
    color: #A4BBD7;
    font-size: .85em;
    letter-spacing: 0.2em;
    margin: 0;
}
*/
#About p {
    color: #7A7A7A;
    line-height: 30px;
}
