#Home {
    background: #161415 url(../../Images/about-background.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;
    height: 572px; /*This should be calculated dynamically based on screen height;*/
    margin-top: 40px;
    position: relative;
}

#Home hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-top: 1px solid #2f2d2e;
}

#Home h1 {
    color: white;
    font-size: 5em;
}

#Home .Social li {
    display: inline-block;
    margin: 0 15px;
}

#Home .Social {
    font-size: 3em;
}

#Home .circle-down {
    color: #fff;
    font-size: 4em;
    position: absolute;
    bottom: 0;
    left: 50%;
}
