.Header {
    background-color: #273547;
    color: white;
    overflow: hidden;
}

nav {
    background-color: #333;
    min-height: 40px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 100;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: white;
    line-height: 32px;
    padding: 8px 13px;
    text-decoration: none;
}
