.App {
    font-family: Brandon;
    letter-spacing: 0.05em;
    text-align: left;
}

a, a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: #a4bbd7;
    transition: color .3s ease-in-out;
}

body {
    margin: 0;
    font-size: 1em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

nav ol, nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

ol, ul {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

section {
    overflow: hidden;
}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

@import url("CSS/Fonts.css");
