#Work {
    padding-top: 125px;
    padding-bottom: 40px;
}
#Work .work .header-column {
    margin-top: 16px;
}

#Work .work .header-column h2 {
    font-size: 1em;
    margin-top: 0;
}

#Work .work .header-column h2 span {
    border-bottom: 3px solid #11abb0;
    padding-bottom: 6px;
    text-transform: uppercase;
}

#Work .item {
    border-bottom: 1px dotted #ddd;
    padding: 25px 0;
}

#Work .item .company {
    margin: 0;
    margin-bottom: 10px;
}

#Work .item .company a {
    color: black;
}

#Work .item .summary {
    margin: 0;
    font-size: .9em;
}

#Work .item .location {
    padding-left: 15px;
}

#Work .item .date {
    padding-left: 15px;
}

#Work .item ul.responsibilities {
    list-style-position: inside;
    margin-top: 5px;
    padding-left: 0;
}

#Work .item ul.responsibilities li {
    color: #333;
    font-size: .85em;
}
